{% extends 'base/master.html' %}

{% block body%}

	<style>
		body {
			background: url('https://images.alphacoders.com/438/438979.jpg');
		}

		.wrapper {
			margin-top: 80px;
			margin-bottom: 80px;
		}

		.form-signin {
		  /*height: 300px;*/
		  max-width: 380px;
		  padding: 15px 35px 45px;
		  margin: 0 auto;
		  background-color: rgba(201, 187, 187, 0.67);
		  border: 1px solid rgba(0,0,0,0.1);

		  .form-signin-heading,
			.checkbox {
			  margin-bottom: 30px;
			}

			.checkbox {
			  font-weight: normal;
			}

			.form-control {
			  position: relative;
			  font-size: 16px;
			  height: auto;
			  padding: 10px;
				@include box-sizing(border-box);

				&:focus {
				  z-index: 2;
				}
			}

			input[type="text"] {
			  margin-bottom: -1px;
			  border-bottom-left-radius: 0;
			  border-bottom-right-radius: 0;
			}

			input[type="password"] {
			  margin-bottom: 20px;
			  border-top-left-radius: 0;
			  border-top-right-radius: 0;
			}
		}

	</style>
	<div class="container">

		  <div class="wrapper">
			<form class="form-signin" method="post" action="/login">
			  <h2 class="form-signin-heading">Identificate</h2>
			  <input type="text" class="form-control" name="email" placeholder="Email Address" required="" autofocus="" />
			  <input type="password" class="form-control" name="password" placeholder="Password" required=""/>
			  <label class="checkbox">
				<input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Recuerdame
			  </label>
			  <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>

				{% with messages = get_flashed_messages(category_filter=['login_error']) %}
				  {% if messages %}
					{% for message in messages %}
						<br>
						<div class="alert alert-warning alert-dismissible" role="alert">
						  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						  <strong>Algo paso:</strong> {{message}}
						</div>
					{% endfor %}
				  {% endif %}
				{% endwith %}


			</form>
		  </div>


{% endblock %}
	</div>
</body>
</html>
